/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */


ion-color-primary {
  --ion-color-base: #3880ff;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #3171e0;
  --ion-color-tint: #4c8dff;
}